.signup-form-area{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signup-input-container{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* gap: 7px; */
}
.signup-input{
    margin: 7px;
    height: 35px;
    flex: 2;
    padding: 1%;
    border-radius: 5px 5px 5px 5px;
    border-width: 1.5px;
    border: solid var(--light-grey);
    color: var(--text);
    font-size: 0.9rem;
    font-weight: 500;
}

.signup-cta{
    margin: 7px;
    height: 35px;
    width: auto;
    padding: 1.5%;
    padding-left: 3%;
    padding-right: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--deep-blue);
    border: none;
    outline: none;
    border-radius: 5px 5px 5px 5px;
    color: #f8f8f8;
    font-size: 0.9rem;
    font-weight: 700;
    box-shadow: 0 0 5px rgba(0,0,0,0.7);
}
.signup-cta:hover{
    box-shadow: none;
}