:root {
  --deep-blue: #002F6C;
  --deep-blue-secondary: rgba(0, 0, 139, 0.5);
  --steel-grey: #7A8C99;
  --white: #FFFFFF;
  --teal: #008080;
  --light-blue: #ADD8E6;
  --light-grey: #D3D3D3;
  --orange: #FFA500;
  --green: #32CD32;
  --text:#080808;
  /* New palette */
  --primary-cta: #5A6ACE;
  --primary-cta-light: #BEBBF7;
  --primary-cta-light-1: #CAC7F7;
  --primary-cta-light-2: #D1CFFA;
  --secondary-cta-text: #5A6ACE;
  --normal-text: #29305B;
  --bg-color:#EEEFF3;
  --bg-color-1:#F3F4F5;
  --bg-color-2:#FAFAFA;
}

body{
  font-family: 'Figtree', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.vertical-space-div{
  margin-top: 10px;
  height: 10px;
  margin-bottom: 10px;
}